<%= render "shared/navbar" %>

<section class="w-full bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white py-16 px-6 rounded-b-3xl shadow-lg mb-10">

  <div class="max-w-5xl mx-auto text-center">
    <h1 class="text-5xl font-extrabold mb-4">Welcome to the Blogify!</h1>
    <p class="text-lg sm:text-xl max-w-2xl mx-auto">
      Explore the latest posts, stay informed, and share your thoughts.
      From insights to updates, this is your space for meaningful content.
    </p>
  </div>

</section>


<main class="max-w-5xl mx-auto mt-10 px-4">

  <% content_for :title, "Posts" %>

  <% if notice.present? %>
    <p class="py-2 px-4 bg-green-50 mb-6 text-green-600 font-medium rounded-md inline-block" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <div class="flex justify-between items-center mb-8">
    <h1 class="font-bold text-4xl text-gray-800">Posts</h1>
    <%= link_to "New Post", new_post_path,
                class: "rounded-xl px-6 py-3 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white font-semibold shadow-lg hover:scale-105 hover:shadow-xl transition-transform duration-200" %>
  </div>


  <div class="grid gap-8">

    <% if @posts.any? %>

      <% @posts.each do |post| %>
        <div class="bg-white shadow-lg rounded-2xl p-6 hover:shadow-xl transition duration-200">
          <h2 class="text-2xl font-bold text-gray-800 mb-2"><%= post.title %></h2>
          <p class="inline-flex items-center text-gray-700 text-sm mb-2 bg-gray-100 px-3 py-1 rounded-full shadow-sm font-medium">
            <span class="mr-2 text-indigo-600 font-semibold">Posted by:</span>
            <%= post.user.email.split('@').first.capitalize %>
          </p>

          <p class="text-gray-600 mb-4">
            <%= truncate(post.body, length: 150, separator: ' ') %>
          </p>
          <div class="flex items-center justify-between">
            <%= link_to "Read More", post_path(post), class: "from-indigo-500 via-purple-500 to-pink-500 text-indigo-600 hover:text-indigo-500 font-medium" %>

          </div>
        </div>

      <% end %>

    <% else %>

      <p class="text-center text-gray-500 mt-10 text-lg">No posts found. Create your first post!</p>

    <% end %>

  </div>

<!--  pagination-->
  <div class="mt-8 flex justify-center">
    <%= paginate @posts, theme: 'tailwind' %>
  </div>
</main>
